<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('../partials/_head.ejs') %>
    <title>Motorista - Cadastrar</title>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include('../partials/_navbar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%- include('../partials/_sidebar.ejs') %>
          <!-- partial -->
          <div class="main-panel">
            <div class="content-wrapper">
              <div class="page-header">
                <h3 class="page-title">
                  <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-account-card-details"></i>
                  </span> Cadastrar Motorista
                </h3>

              </div>
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form id="form" class="forms-sample" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="nome">Nome Completo</label>
                        <input type="text" class="form-control" id="nome"name="nome" placeholder="Nome">
                      </div>
                      <div class="form-group">
                        <label for="foto">Foto 3x4</label>
                        <input type="file" id="foto" name="foto" class="form-control">
                      </div>
                      <button type="submit" class="btn btn-primary me-2">Confirmar</button>
                      <a href="/admin/motorista" class="btn btn-danger me-2">Cancelar</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <%- include('../partials/_footer.ejs') %>
              <!-- partial -->
          </div>
          <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/admin/assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/admin/assets/js/off-canvas.js"></script>
  <script src="/admin/assets/js/hoverable-collapse.js"></script>
  <script src="/admin/assets/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/admin/js/motorista/cadastrar.js"></script>
  <!-- End custom js for this page -->
</body>

</html>