<!DOCTYPE html>
<html lang="pt-br">

<head>
  </style>
  <%- include('../partials/_head.ejs') %>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
    <title>Motorista</title>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include('../partials/_navbar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%- include('../partials/_sidebar.ejs') %>
          <!-- partial -->
          <div class="main-panel">
            <div class="content-wrapper">
              <div class="page-header">
                <h3 class="page-title">
                  <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-account-card-details"></i>
                  </span> Motoristas
                </h3>

              </div>
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-sm-flex justify-content-between mb-3">
                        <h4 class="card-title">Motoristas Cadastrados</h4>
                        <a href="/admin/motorista/cadastrar" class="btn btn-primary">Cadastrar</a>
                      </div>
                      <div class="d-xxl-flex table-responsive row">
                        <table class="table table-hover" id="table">
                          <thead>
                            <tr>
                              <th> ID </th>
                              <th> Foto </th>
                              <th> Nome </th>
                              <th> CNH </th>
                              <th data-priority="1"> Config </th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <%- include('../partials/_footer.ejs') %>
              <!-- partial -->
          </div>
          <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/admin/assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/admin/assets/js/off-canvas.js"></script>
  <script src="/admin/assets/js/hoverable-collapse.js"></script>
  <script src="/admin/assets/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <!-- End custom js for this page -->
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $('#table').DataTable({
      "language": {
        url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-BR.json',
      },
      "ajax": {
        "url": "http://localhost:3000/api/motorista/listar",
        "dataSrc": "" // O atributo que contém os dados no JSON retornado
      },
      "columns": [
        { "data": "id" },
        { "data": "foto" },
        { "data": "nome" },
        { "data": "cnh" },
        { "data": null, "defaultContent": "" },
      ],
      "columnDefs": [
        {
          "targets": 1, // Coluna que contém a URL da imagem
          "render": function (data, type, row) {
            return `<img src="http://localhost:3000/${data}" class="foto-table" alt="Foto" width="50" height="50">`;
          }
        }
      ],
      "createdRow": function (row, data, dataIndex) {
        // Adiciona os botões à terceira coluna
        const linkContainer = document.createElement("div");
        linkContainer.classList.add("btn-group");
        linkContainer.setAttribute("role", "group");

        const showLink = document.createElement("a");
        showLink.innerHTML = "Exibir";
        showLink.classList.add("btn", "btn-inverse-info", "btn-sm");
        showLink.href = `http://localhost:3001/admin/motorista/exibir/${data.id}`;

        const editLink = document.createElement("a");
        editLink.innerHTML = "Editar";
        editLink.classList.add("btn", "btn-inverse-success", "btn-sm");
        editLink.href = `http://localhost:3001/admin/motorista/editar/${data.id}`;

        const deleteLink = document.createElement("a");
        deleteLink.innerHTML = "Deletar";
        deleteLink.classList.add("btn", "btn-inverse-danger", "btn-sm");
        deleteLink.href = `http://localhost:3001/admin/motorista/excluir/${data.id}`;

        linkContainer.appendChild(showLink);
        linkContainer.appendChild(editLink);
        linkContainer.appendChild(deleteLink);

        $(row).find("td:eq(4)").html(linkContainer);
      }
    });
  </script>
</body>

</html>