<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="/publico/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap">
    <link rel="stylesheet" href="/publico/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/publico/assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="/publico/assets/css/styles.min.css">
</head>

<body>
    <div id="header">
        <header id="header-parallax" class="masthead" style="background: url(&quot;/publico/assets/img/banner%20parallax.svg&quot;) center / contain no-repeat, #282d32;height: 500px;width: auto;padding-top: 0;padding-bottom: 0;"></header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-dark" id="header" style="height: 50px;background: rgb(40,45,50);">
            <div class="container">
                <a class="navbar-brand" href="#"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive" style="background: rgb(40,45,50);">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"></li>
                        <li class="nav-item"><a class="nav-link" href="#horario" style="padding-left: 10px;color: white;">HORARIOS</a></li>
                        <li class="nav-item"><a class="nav-link" href="#recarga" style="padding-left: 10px;color: white;">recarga</a></li>
                        <li class="nav-item"><a class="nav-link" href="#footer" style="color: white;">SOBRE NOS</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container" id="corpo-do-site" style="height: auto;">
        <div>
            <h1 style="text-align: center;font-family: Oswald, sans-serif;margin-top: 50px;margin-bottom: 200px;"><span style="font-weight: normal !important;">Bem vindo ao site do</span> LITORAL TRANSPORTE</h1>
        </div>
        <div class="justify-content-xxl-center" id="horario">
            <h1 class="text-center" style="margin-top: 50px;margin-bottom: 48px;font-family: Oswald, sans-serif;font-size: 50px;letter-spacing: 2px;">HORÁRIOS&nbsp;</h1>
            <div><a class="btn d-xxl-flex flex-row justify-content-xxl-center align-items-xxl-center" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapse-3" href="#collapse-3" role="button" style="font-size: 50px;font-family: Oswald, sans-serif;font-weight: bold;border-color: black;margin-top: 10px;margin-bottom: 10px;">TABELA DE HORÁRIOS</a>
                <div class="collapse show" id="collapse-3">
                    <div class="text-center d-xxl-flex flex-column" id="linha-2" style="margin-bottom: 10px;"><a class="btn" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-2" href="#collapse-2" role="button" style="font-size: 25px;font-family: Oswald, sans-serif;border-width: 1px;border-color: black;">LINHA 1 (TRAVESSÃO)</a>
                        <div class="collapse" id="collapse-2" style="border: 1px solid black;">
                            <h1 style="font-family: Oswald, sans-serif;font-size: 30px;padding-top: 10px;padding-bottom: 10px;"><span style="font-weight: normal !important;">Dias uteis</span></h1>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Centro</th>
                                            <th>Bairro</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>05:10</td>
                                            <td>05:50</td>
                                        </tr>
                                        <tr>
                                            <td>06:10</td>
                                            <td>06:50</td>
                                        </tr>
                                        <tr>
                                            <td>07:10</td>
                                            <td>07:50</td>
                                        </tr>
                                        <tr>
                                            <td>08:10</td>
                                            <td>08:50</td>
                                        </tr>
                                        <tr>
                                            <td>09:10</td>
                                            <td>09:50</td>
                                        </tr>
                                        <tr>
                                            <td>10:10</td>
                                            <td>10:50</td>
                                        </tr>
                                        <tr>
                                            <td>11:10</td>
                                            <td>11:50</td>
                                        </tr>
                                        <tr>
                                            <td>12:10</td>
                                            <td>12:50</td>
                                        </tr>
                                        <tr>
                                            <td>13:10</td>
                                            <td>13:50</td>
                                        </tr>
                                        <tr>
                                            <td>14:10</td>
                                            <td>14:50</td>
                                        </tr>
                                        <tr>
                                            <td>15:10</td>
                                            <td>15:50</td>
                                        </tr>
                                        <tr>
                                            <td>16:10</td>
                                            <td>16:50</td>
                                        </tr>
                                        <tr>
                                            <td>17:10</td>
                                            <td>17:50</td>
                                        </tr>
                                        <tr>
                                            <td>18:10</td>
                                            <td>18:50</td>
                                        </tr>
                                        <tr>
                                            <td>19:10</td>
                                            <td>19:50</td>
                                        </tr>
                                        <tr>
                                            <td>20:10</td>
                                            <td>20:50</td>
                                        </tr>
                                        <tr>
                                            <td>21:10</td>
                                            <td>21:50</td>
                                        </tr>
                                        <tr>
                                            <td>22:10</td>
                                            <td>22:50</td>
                                        </tr>
                                        <tr>
                                            <td>23:10</td>
                                            <td>23:50</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p><br><strong>ITINERÁRIO</strong>&nbsp;<br><br>SAÍDA&nbsp; CENTRO: Terminal Sumaré, Fórum, Rua Fernando Costa, Avenida da Praia (Centro),<br>Avenida Prestes Maia, Casa de Saúde Stela Maris (Santa Casa), Cemitério Indaiá, Avenida
                                José Herculano (Centro<br>Esportivo Municipal, Serramar Shopping, Porto Novo), Barranco Alto, Residencial Nova Caraguá II, CIASE<br>Travessão.<br><br>SAÍDA&nbsp; BAIRRO: CIASE Travessão, Residencial Nova Caraguá II, Barranco
                                Alto, Avenida José<br>Herculano (Mercadinho Piratininga, Porto Novo, Serramar Shopping, Centro Esportivo Municipal), Cemitério Indaiá,<br>Casa de Saúde Stela Maris (Santa Casa), Avenida Prestes Maia, Avenida da Praia (Centro),
                                Rua Caçapava, Fórum,<br>Terminal Sumaré<br><br><br></p><iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe></div>
                    </div>
                    <div class="text-center d-xxl-flex flex-column" id="linha-1" style="margin-bottom: 10px;"><a class="btn" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button" style="font-size: 25px;font-family: Oswald, sans-serif;border-width: 1px;border-color: black;">LINHA 2 (JARAGUA)</a>
                        <div class="collapse" id="collapse-1" style="border: 1px solid black;">
                            <h1 style="font-family: Oswald, sans-serif;font-size: 30px;padding-top: 10px;padding-bottom: 10px;"><span style="font-weight: normal !important;">Dias uteis</span></h1>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Centro</th>
                                            <th>Bairro</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>05:30</td>
                                            <td>06:10</td>
                                        </tr>
                                        <tr>
                                            <td>06:30</td>
                                            <td>07:10</td>
                                        </tr>
                                        <tr>
                                            <td>07:30</td>
                                            <td>08:10</td>
                                        </tr>
                                        <tr>
                                            <td>08:30</td>
                                            <td>09:10</td>
                                        </tr>
                                        <tr>
                                            <td>09:30</td>
                                            <td>10:10</td>
                                        </tr>
                                        <tr>
                                            <td>10:30</td>
                                            <td>11:10</td>
                                        </tr>
                                        <tr>
                                            <td>11:30</td>
                                            <td>12:10</td>
                                        </tr>
                                        <tr>
                                            <td>12:30</td>
                                            <td>13:10</td>
                                        </tr>
                                        <tr>
                                            <td>13:30</td>
                                            <td>14:10</td>
                                        </tr>
                                        <tr>
                                            <td>14:30</td>
                                            <td>15:10</td>
                                        </tr>
                                        <tr>
                                            <td>15:30</td>
                                            <td>16:10</td>
                                        </tr>
                                        <tr>
                                            <td>16:30</td>
                                            <td>17:10</td>
                                        </tr>
                                        <tr>
                                            <td>17:30</td>
                                            <td>18:10</td>
                                        </tr>
                                        <tr>
                                            <td>18:30</td>
                                            <td>19:10</td>
                                        </tr>
                                        <tr>
                                            <td>19:30</td>
                                            <td>20:10</td>
                                        </tr>
                                        <tr>
                                            <td>20:30</td>
                                            <td>21:10</td>
                                        </tr>
                                        <tr>
                                            <td>21:30</td>
                                            <td>22:10</td>
                                        </tr>
                                        <tr>
                                            <td>22:30</td>
                                            <td>23:10</td>
                                        </tr>
                                        <tr>
                                            <td>23:30</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p><br><strong>ITINERÁRIO</strong>&nbsp;<br><br>SAÍDA CENTRO: Terminal Sumaré, Fórum, Rua Fernando Costa, Avenida da Praia (Centro), Avenida<br>Prestes Maia, Casa de Saúde Stela Maris (Santa Casa), Cemitério Indaiá, Avenida José
                                Herculano (Centro Esportivo<br>Municipal, Serramar Shopping, UBS Porto Novo), Praça Jorge de Castro (Travessão), Paróquia Nossa Senhora da<br>Glória, CIDE Sul, E. E. Vereador Benedito Paes Sobrinho, Condomínio Portal dos
                                Pássaros, CIEFI Prof. Edna Maria<br>Nogueira Ferraz.<br><br>SAÍDA BAIRRO: CIASC Perequê-Mirim, Divisa Caraguá-São Sebastião, Avenida José Herculano<br>(SubPrefeitura, UBS Porto Novo, Serramar Shopping, Centro Esportivo
                                Municipal), Cemitério Indaiá, AME, Terminal<br>Rodoviário, Casa de Saúde Stela Maris (Santa Casa), Avenida Prestes Maia, Avenida da Praia (Centro), Rua<br>Caçapava, Fórum, Terminal Sumaré.<br><br></p><iframe allowfullscreen=""
                                frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe></div>
                    </div>
                    <div class="text-center d-xxl-flex flex-column" id="linha-3" style="margin-bottom: 10px;"><a class="btn" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-4" href="#collapse-4" role="button" style="font-size: 25px;font-family: Oswald, sans-serif;border-width: 1px;border-color: black;">LINHA 3 (VAPAPESCA)</a>
                        <div class="collapse" id="collapse-4" style="border: 1px solid black;">
                            <h1 style="font-family: Oswald, sans-serif;font-size: 30px;padding-top: 10px;padding-bottom: 10px;"><span style="font-weight: normal !important;">Dias uteis</span></h1>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Centro</th>
                                            <th>Bairro</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>05:00</td>
                                            <td>05:40</td>
                                        </tr>
                                        <tr>
                                            <td>06:00</td>
                                            <td>06:40</td>
                                        </tr>
                                        <tr>
                                            <td>07:00</td>
                                            <td>07:40</td>
                                        </tr>
                                        <tr>
                                            <td>08:00</td>
                                            <td>08:40</td>
                                        </tr>
                                        <tr>
                                            <td>09:00</td>
                                            <td>09:40</td>
                                        </tr>
                                        <tr>
                                            <td>10:00</td>
                                            <td>10:40</td>
                                        </tr>
                                        <tr>
                                            <td>11:00</td>
                                            <td>11:40</td>
                                        </tr>
                                        <tr>
                                            <td>12:00</td>
                                            <td>12:40</td>
                                        </tr>
                                        <tr>
                                            <td>13:00</td>
                                            <td>13:40</td>
                                        </tr>
                                        <tr>
                                            <td>14:00</td>
                                            <td>14:40</td>
                                        </tr>
                                        <tr>
                                            <td>15:00</td>
                                            <td>15:40</td>
                                        </tr>
                                        <tr>
                                            <td>16:00</td>
                                            <td>16:40</td>
                                        </tr>
                                        <tr>
                                            <td>17:00</td>
                                            <td>17:40</td>
                                        </tr>
                                        <tr>
                                            <td>18:00</td>
                                            <td>18:40</td>
                                        </tr>
                                        <tr>
                                            <td>19:00</td>
                                            <td>19:40</td>
                                        </tr>
                                        <tr>
                                            <td>20:00</td>
                                            <td>20:40</td>
                                        </tr>
                                        <tr>
                                            <td>21:00</td>
                                            <td>21:40</td>
                                        </tr>
                                        <tr>
                                            <td>22:00</td>
                                            <td>22:40</td>
                                        </tr>
                                        <tr>
                                            <td>23:00</td>
                                            <td>23:40</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p><br><strong>ITINERÁRIO</strong>&nbsp;<br><br>SAÍDA CENTRO: Terminal Sumaré, Fórum, Rua Fernando Costa, Avenida da Praia (Centro), Avenida<br>Prestes Maia, Casa de Saúde Stela Maris (Santa Casa), AME, Terminal Rodoviário, Cemitério
                                Indaiá, Avenida José<br>Herculano (Centro Esportivo Municipal, Serramar Shopping, UBS Porto Novo, SubPrefeitura), Divisa Caraguá – São<br>Sebastião, CIASC Perequê-Mirim.<br><br>SAÍDA BAIRRO: CIEFI Prof. Edna Maria Nogueira
                                Ferraz, Condomínio Portal dos Pássaros, E. E. Vereador<br>Benedito Paes Sobrinho, CIDE Sul, Paróquia Nossa Senhora da Glória, Praça Jorge de Castro (Travessão), Avenida<br>José Herculano (UBS Porto Novo, Serramar Shopping,
                                Centro Esportivo Municipal), Cemitério Indaiá, Casa de Saúde<br>Stela Maris (Santa Casa), Avenida Prestes Maia, Avenida da Praia (Centro), Rua Caçapava, Fórum, Terminal<br>Sumaré.<br><br></p><iframe allowfullscreen="" frameborder="0"
                                src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe></div>
                    </div>
                    <div class="text-center d-xxl-flex flex-column" id="linha-4" style="margin-bottom: 10px;"><a class="btn" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-5" href="#collapse-5" role="button" style="font-size: 25px;font-family: Oswald, sans-serif;border-width: 1px;border-color: black;">LINHA 4(JARAGUAZINHO)</a>
                        <div class="collapse" id="collapse-5" style="border: 1px solid black;">
                            <h1 style="font-family: Oswald, sans-serif;font-size: 30px;padding-top: 10px;padding-bottom: 10px;"><span style="font-weight: normal !important;">Dias uteis</span></h1>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Centro</th>
                                            <th>Bairro</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>06:00</td>
                                            <td>07:00</td>
                                        </tr>
                                        <tr>
                                            <td>07:40</td>
                                            <td>08:00</td>
                                        </tr>
                                        <tr>
                                            <td>08:40</td>
                                            <td>09:00</td>
                                        </tr>
                                        <tr>
                                            <td>09:40</td>
                                            <td>10:00</td>
                                        </tr>
                                        <tr>
                                            <td>10:40</td>
                                            <td>11:00</td>
                                        </tr>
                                        <tr>
                                            <td>11:40</td>
                                            <td>12:00</td>
                                        </tr>
                                        <tr>
                                            <td>12:40</td>
                                            <td>13:00</td>
                                        </tr>
                                        <tr>
                                            <td>13:40</td>
                                            <td>14:00</td>
                                        </tr>
                                        <tr>
                                            <td>14:40</td>
                                            <td>15:00</td>
                                        </tr>
                                        <tr>
                                            <td>15:00</td>
                                            <td>16:00</td>
                                        </tr>
                                        <tr>
                                            <td>16:40</td>
                                            <td>17:00</td>
                                        </tr>
                                        <tr>
                                            <td>17:40</td>
                                            <td>18:00</td>
                                        </tr>
                                        <tr>
                                            <td>18:40</td>
                                            <td>19:00</td>
                                        </tr>
                                        <tr>
                                            <td>19:40</td>
                                            <td>REC.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p><br><strong>ITINERÁRIO</strong>&nbsp;<br><br>SAÍDA HOSPITAL REGIONAL: Retorno Pontal Santa Marina, Serramar Shopping, CEMUG, Cemitério<br>Indaiá, AME, Terminal Rodoviária, Hipermercado Shibata, SESAU Jaraguazinho.<br><br>SAÍDA
                                JARAGUAZINHO: SESAU Jaraguazinho, Hipermercado SHIBATA, Terminal Rodoviária, Cemitério<br>Municipal, PoupaTempo, Trevo do Poiares, CEMUG, Serramar Shopping, Hospital Regional.<br><br><br></p><iframe allowfullscreen="" frameborder="0"
                                src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe></div>
                    </div>
                    <div class="text-center d-xxl-flex flex-column" id="linha-5" style="margin-bottom: 10px;"><a class="btn" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-6" href="#collapse-6" role="button" style="font-size: 25px;font-family: Oswald, sans-serif;border-width: 1px;border-color: black;">LINHA 5(RIO DO OURO)</a>
                        <div class="collapse" id="collapse-6" style="border: 1px solid black;">
                            <h1 style="font-family: Oswald, sans-serif;font-size: 30px;padding-top: 10px;padding-bottom: 10px;"><span style="font-weight: normal !important;">Dias uteis</span></h1>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Saida R OURO</th>
                                            <th>Saida C Galo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>06:30</td>
                                        </tr>
                                        <tr>
                                            <td>06:30</td>
                                            <td>07:30</td>
                                        </tr>
                                        <tr>
                                            <td>07:30</td>
                                            <td>08:30</td>
                                        </tr>
                                        <tr>
                                            <td>08:30</td>
                                            <td>09:30</td>
                                        </tr>
                                        <tr>
                                            <td>09:30</td>
                                            <td>10:30</td>
                                        </tr>
                                        <tr>
                                            <td>10:30</td>
                                            <td>11:30</td>
                                        </tr>
                                        <tr>
                                            <td>11:30</td>
                                            <td>12:30</td>
                                        </tr>
                                        <tr>
                                            <td>12:30</td>
                                            <td>13:30</td>
                                        </tr>
                                        <tr>
                                            <td>13:30</td>
                                            <td>14:30</td>
                                        </tr>
                                        <tr>
                                            <td>14:30</td>
                                            <td>15:30</td>
                                        </tr>
                                        <tr>
                                            <td>15:30</td>
                                            <td>16:30</td>
                                        </tr>
                                        <tr>
                                            <td>16:30</td>
                                            <td>17:30</td>
                                        </tr>
                                        <tr></tr>
                                        <tr>
                                            <td>18:30</td>
                                            <td>19:30</td>
                                        </tr>
                                        <tr></tr>
                                        <tr>
                                            <td>20:30</td>
                                            <td>21:30</td>
                                        </tr>
                                        <tr></tr>
                                        <tr></tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                            <p><br><strong>ITINERÁRIO</strong>&nbsp;<br><br>SAÍDA CANTA GALO: Bairro do Canta Galo, Praça Sensorial, Bairro Cidade Jardim, Fórum, Rua Fernando<br>Costa, Avenida da Praia (Centro), Avenida Prestes Maia, Casa de Saúde Stela
                                Maris (Santa Casa), Terminal
                                <br>Rodoviário, Hipermercado Shibata, SAU Nova Tamoios, Bairro Jaraguazinho, EMEI/EMEF Aída de Castro Grazioli,<br>UBS Rio do Ouro, EMEI/EMEF Benedito Ferreira Louzada, Horto Florestal.<br><br>SAÍDA RIO DO OURO: Horto Florestal,
                                EMEI/EMEF Benedito Ferreira Louzada, UBS Rio do Ouro,<br>EMEI/EMEF Aída de Castro Grazioli, Bairro Jaraguazinho, SAU Nova Tamoios, Hipermercado Shibata, Terminal<br>Rodoviário, Casa de Saúde Stela Maris (Santa Casa), Avenida
                                Prestes Maia, Avenida da Praia (Centro), Rua<br>Caçapava, Fórum, Terminal Sumaré, Laticínios Litoral Norte, Bairro Cidade Jardim, Praça Sensorial, Bairro Canta<br>Galo.<br><br><br></p><iframe allowfullscreen="" frameborder="0"
                                src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="400"></iframe></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="recarga">
            <h1 class="text-center" style="margin-top: 50px;margin-bottom: 0px;font-size: 50px;letter-spacing: 2px;font-family: Oswald, sans-serif;">RECARGA</h1>
            <section class="position-relative py-4 py-xl-5">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                            <div class="card mb-5">
                                <div class="card-body p-sm-5">
                                    <h2 class="text-center mb-4">Recarregue seu cartão aqui</h2>
                                    <form id="form">
                                        <div class="mb-3"><input class="form-control" type="text" id="cpf" pattern="^\d{3}\.\d{3}\.\d{3}-\d{2}$" maxlength="14" placeholder="123.456.789-10"></div>
                                        <div class="mb-3"><input class="form-control" type="text" id="saldo" placeholder="Digite o Valor"></div>
                                        <div><button class="btn d-block w-100" type="submit" style="border-color: black;">Enviar Solicitação</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="footer" class="footer-dark" style="padding-bottom: 20px;">
        <div style="text-align:center;">
            <h2 class="divider-style" style="margin-top:0px;"><span style="background-color:rgb(40, 45, 50);"><a href="#"><img src="/publico/assets/img/LitoralTransporteLogo.svg" width="84" height="55" style="border-width: 1px;border-color: rgb(49,246,255);"></a></span></h2>
        </div>
        <footer>
            <div class="container">
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-6 item text" style="margin-bottom: 0px;border: 1px solid rgb(0,0,0) ;">
                        <h3 style="font-family: 'Bebas Neue', sans-serif;font-size: 20px;letter-spacing: 2px;">Litoral Transporte</h3>
                        <p style="margin-bottom: 5px;">A litoral Transporte é uma empresa de ônibus estabelecida na cidade de Caraguatatuba. Nossa missão é proporcionar viagens confiáveis e confortáveis para os residentes e visitantes dessa bela região litorânea&nbsp;</p>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xl-6 item" style="padding-bottom: 9px;border: 1px solid black ;">
                        <h3>Sobre nós</h3>
                        <ul class="justify-content-xl-start align-items-xl-end">
                            <li class="text-start d-flex"><i class="material-icons">location_on</i><a href="#">&nbsp; Rua José Herculano 1086&nbsp; &nbsp;Caraguatatuba</a></li>
                            <li class="d-flex"><i class="material-icons" style="font-size: 27px;">mail_outline</i><a href="#">&nbsp; suporte@LitoralTransporte.com.br</a></li>
                            <li class="d-flex"><i class="material-icons">phone</i><a href="#">&nbsp; +12 02101-2007</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col item social" style="margin-top: 10px;border: 1px solid black ;"><input class="form-control-lg" type="email" style="width:200px;height:40px;margin-left:-3px;margin-bottom:11px;margin-top:30px;" value="Nome@Gmail.com"><button class="btn btn-primary" style="width: 111px;height: 40px;margin-top: -8px;background: rgb(61,245,254);--bs-primary: #341d29;--bs-primary-rgb: 52,29,41;color: black;border-style: none;"
                        type="button">Inscreva-se</button>
                    <h1 style="font-size:1rem;">Noticias Semanais</h1>
                </div>
                <div class="col item social" style="margin-top: 15px;padding-top: 7px;padding-bottom: 8px;border: 1px solid black ;"><a class="text-center" href="#"><i class="icon ion-social-facebook"></i></a><a class="text-center" href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a></div>
                <div style="text-align:center;margin-top:-40px;">
                    <h2 class="divider-style"></h2>
                </div>
                <p class="copyright">Litoral Transportes © 2023 Todos os direitos reservados</p>
            </div>
        </footer>
    </div>
    <script src="/publico/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/publico/assets/js/script.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/publico/js/recarga.js"></script>
    <script src="/admin/js/formatarCPF.js"></script>
    <script src="/admin/js/formatarSaldo.js"></script>
</body>

</html>