<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin/">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/motorista">
          <span class="menu-title">Motoristas</span>
          <i class="mdi mdi-account-card-details menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/passageiro">
          <span class="menu-title">Passageiros</span>
          <i class="mdi mdi-account menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/linha">
          <span class="menu-title">Linhas</span>
          <i class="mdi mdi-map menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/onibus">
          <span class="menu-title">Onibus</span>
          <i class="mdi mdi-bus menu-icon"></i>
        </a>
      </li>
    </ul>
  </nav>