@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Oswald&display=swap');


*{
    font-family:'Oswald', sans-serif;
      margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*INDEX*/

.logo{
padding-bottom: 50px;
}
.logo img{
    height: 125px;
    width: auto;
}
.container{
    text-align: center;
    padding: 15px 0;
}


.indexPrincipal{
    background-color: #8DA9F0;

}


.indexERRO{
    background-color: #b33636;
}



.botao img{
    width: 300px;
    height: auto;
    padding-bottom: 5px;

}

.Data{
    color: white;
    font-size: 25px;
    font-family: 'Convergence', sans-serif;
    letter-spacing: 5px;
}

.text h3{
    padding-top: 60px;
    font-size: 60px;
    color: white;
    letter-spacing: 2px;
}

#relogio{
    color: white;
    font-size: 25px;
    font-family: 'Convergence', sans-serif;
    letter-spacing: 5px;
}


/*VALIDAÇAO*/
.indexValidado{
    background-color: #64af70;
}

.text span{
    color: white;
    font-size: 20px;
}

.saldo span{
    color: white;
    font-size: 20px;
    display: block;

}

.saldo{
    padding-top: 10px;
    display: block;
}

.fritas{
    opacity: 0;
}