<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirma</title>
    <link rel="stylesheet" href="/catraca/css/style.css">


</head>

<body class="indexValidado">
    <div class="container">

        <div id="relogio"></div>
        <script src="/catraca/js/script.js"></script>

        <div class="logo">
            <img src="/catraca/img/LitoralTransporteLogo.svg" alt="">
        </div>

        <div class="botao">

            <img src="/catraca/img/botaoVALIDADO.svg" alt="">

        </div>
        <div class="text">
            <h3>PROSSIGA</h3>
            <span id="nome">matheus</span>


        </div>

        <div class="saldo">
            <span id="tarifa">Debito: 00,00</span>
            <span id="saldo">Saldo: 00,00</span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/catraca/js/confirma.js"></script>
</body>

</html>