<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catraca Ônibus</title>
    <link rel="stylesheet" href="/catraca/css/style.css">
</head>

<body class="indexPrincipal">
    <div class="container">
        
        <div id="relogio"></div>
        <script src="/catraca/js/script.js"></script>


        <div class="logo">
            <img src="/catraca/img/LitoralTransporteLogo.svg" alt="">
        </div>

<div class="botao">

    <img src="/catraca/img/botaoINDEX.svg" alt="">

</div>


        <div class="text">
            <h3 >APROXIME O CARTÃO</h3>
        </div>

         
        <div class="fritas">
            <form id="cartdgt">
                <input type="text" id="campo1" autofocus>
                <input type="submit" id="env1" value="Enviar">
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/catraca/js/script.js"></script>
</body>

</html>